.map-page {
    font-family: Regular;
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.sidebar {

    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.location-label {
    float: left;
    /*background-color: #61dafb;*/
    width: 15%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        cursor: grab;
    }
}

.arrow {
    text-align: center;
    font-size: 15px;
    color: black;
    /*background-color: #61dafb;*/
    width: 85%;
    margin: 5px 15%;
}

.location-input {
    float: right;
    width: 85%;
    height: 100%;
    font-size: 13px;
    border: none;
    border-radius: 20px;
    background-color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

.dropdowns {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dropdown {
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;
    height: 33px;
}

.dropdown label {
    font-weight: bold;
    margin-bottom: 5px;
}

.dropdown input {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.map-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.modal-content {
    text-align: center;
}

.modal-content h2 {
    margin-top: 0;
}

.location-list {
    margin: 20px 0;
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
    border-radius: 5px;
}

.location-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.location-item:hover {
    background-color: #f0f0f0;
}

.location-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.location-item span {
    font-size: 16px;
}

.location-item.selected {
    background-color: #e0e0e0;
}

.black-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.black-button:hover {
    background-color: #333;
}
